<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Creation</title>
</head>

<body style="margin: 0; text-align: center">
    <table class="" style="
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #eeeeee;
        border-collapse: collapse;
        border-spacing: 0;
        background-color: #ffffff;
        text-align: center;
      ">
        <tbody>
            <tr>
                <td style="
              padding-bottom: 20px;
              padding-top: 20px;
              padding-left: 0;
              padding-right: 0;
              background-color: #f8f8f8;
            ">
                    <img src="<%= logourl %>" width="159" height="57" alt="" style="width: 157px; height: auto" />
                </td>
            </tr>

            <tr>
                <td style="
              padding-top: 50px;
              padding-bottom: 50px;
              padding-right: 0;
              padding-left: 0;
              font-size: 30px;
              font-family: sans-serif;
              color: #000000;
              font-weight: 700;
            ">
                    Employee Creation Notification
                </td>
            </tr>

            <tr>
                <td style="
              padding-top: 0;
              padding-bottom: 0;
              padding-right: 30px;
              padding-left: 30px;
            ">
                    <table style="
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;
                background-color: #ffffff;
              ">
                        <tbody>
                            <tr>
                                <td style="padding: 15px 0">
                                    <p style="
                        margin: 0;
                        font-size: 16px;
                        font-family: sans-serif;
                        color: #000000;
                        font-weight: 700;
                        text-align: left;
                      ">
                                        Hello Nihad,
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 8px 0">
                                    <p style="
                        margin: 0;
                        font-size: 16px;
                        font-family: sans-serif;
                        color: #000000;
                        font-weight: 700;
                        text-align: left;
                      ">
                                        Please confirm creation of Employees
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td style="
                        padding-top: 0;
                        padding-bottom: 30px;
                        padding-right: 30px;
                        padding-left: 30px;
                      ">
                    <table style="
                          width: 100%;
                          border-collapse: collapse;
                          border-spacing: 0;
                          background-color: #ffffff;
                        ">
                        <tbody>
                            <tr>
                                <td style="padding: 8px 0">
                                    <p style="
                                  margin: 0;
                                  font-size: 14px;
                                  font-family: sans-serif;
                                  color: #000000;
                                  font-weight: 700;
                                  text-align: left;
                                ">
                                        Employee Name :
                                        <span style="display: inline-block; font-weight: 500">
                                            <%= employeeName %>
                                        </span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 8px 0">
                                    <p style="
                                  margin: 0;
                                  font-size: 14px;
                                  font-family: sans-serif;
                                  color: #000000;
                                  font-weight: 700;
                                  text-align: left;
                                ">
                                        Employee Number :
                                        <span style="display: inline-block; font-weight: 500">
                                            <%= employeeNumber %>
                                        </span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 8px 0">
                                    <p style="
                                  margin: 0;
                                  font-size: 14px;
                                  font-family: sans-serif;
                                  color: #000000;
                                  font-weight: 700;
                                  text-align: left;
                                ">
                                        Client Name :
                                        <span style="display: inline-block; font-weight: 500">
                                            <%= clientName %>
                                        </span>
                                    </p>
                                </td>
                            </tr>

                            <tr>
                                <td style="padding: 8px 0">
                                    <p style="
                                  margin: 0;
                                  font-size: 14px;
                                  font-family: sans-serif;
                                  color: #000000;
                                  font-weight: 700;
                                  text-align: left;
                                ">
                                        Username :
                                        <span style="display: inline-block; font-weight: 500">
                                            <%= userName %>
                                        </span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td style="
              padding-top: 20px;
              padding-bottom: 20px;
              padding-right: 30px;
              padding-left: 30px;
              background-color: #b5121b;
              font-size: 16px;
              font-family: sans-serif;
              color: #ffffff;
              font-weight: 500;
              line-height: 24px;
            ">
                    Copyright @ LRED
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>